spring:
  application:
    name: hexagonal-ddd

  datasource:
    url: jdbc:postgresql://144.22.48.194:5432/kballestas_software
    username: kballestas
    password: kballestas123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=60m

jwt:
  secret: ${JWT_SECRET:change-me-please-use-a-strong-secret-key-in-production-minimum-256-bits}
  accessTokenExpMinutes: 60
  issuer: hexagonal-ddd
  audience: hexagonal-ddd-client

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  paths-to-match: /api/**

logging:
  level:
    com.jcaa.hexagonal: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.flywaydb: INFO
